$color-primario: linear-gradient(to right, #f19c79, #de8769, #cb725b, #b75e4c, #a44a3f);
$color-secundario: linear-gradient(to right, #d4e09b, #d0e0a4, #cde0ad, #cce0b5, #cbdfbd);
$color-terciario: linear-gradient(to left, #d4e09b, #d0e0a4, #cde0ad, #cce0b5, #cbdfbd);
$color-letras: black;
$color-nav: #a44a3f;

$iconos-grandes: 5rem;
$iconos-medianos: 3rem;
$iconos-chicos: 2rem;

$tablet: 768px;
$desktop: 1200px;

$espacio-extrachico: 0.5rem;
$espacio-chico: 1rem;
$espacio-mediano: 1.5rem;
$espacio-grande: 2.5rem;
$espacio-extragrande: 3rem;

$fuente-titulos: 'Montserrat', sans-serif;
$fuente-cuerpo: 'Lora', serif;

$fuente-grande: 700;
$fuente-mediana: 400;
